{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-3">Vista preliminar de imagen satelital</h1>
  <form action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="geometria">Geometría</label>
          <input class="form-control" id="geometria" name="geometria" type="text" value="{{ geometria }}" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="satelite">Satélite</label>
          <input class="form-control" id="satelite" name="satelite" type="text" value="{{ satelite }}" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="tipoImagen">Tipo imagen</label>
          <input class="form-control" id="tipoImagen" name="tipoImagen" type="text" value="{{ tipoImagen }}" readonly>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="fecha_inicio">Fecha Inicio</label>
          <input class="form-control" id="fecha_inicio" name="fecha_inicio" type="text" value="{{ fecha_inicio }}"
            readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="fecha_fin">Fecha Fin</label>
          <input class="form-control" id="fecha_fin" type="text" name="fecha_fin" value="{{ fecha_fin }}" readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="metros_cuadrados">Metros Cuadrados</label>
          <input class="form-control" id="metros_cuadrados" type="text" name="metros_cuadrados"
            value="{{ metros_cuadrados }}" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="porcentaje">Porcentaje Bosque</label>
          <input class="form-control" id="porcentaje" name="porcentaje" type="text" value="{{ porcentaje }}%" readonly>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="titulo">Título área de estudio</label>
          <input class="form-control" id="titulo" name="titulo" type="text" value="{{ titulo }}" readonly>
        </div>
      </div>
    </div>
    <input class="form-control d-none" id="guardar" name="guardar" type="text" value="1" readonly>
    <input class="form-control d-none" id="url" name="url" type="text" value="{{ url }}" readonly>
    <div class="row position-relative p-3">
      <div class="col-md-12 ">
        <img src="{{url}}" class="img-fluid" alt="Imagen grande" style="width: 100%; height: auto;">
        <div class="position-absolute p-5" style="top: 0; left: 0;">
          <button type="submit" class="btn btn-success">Guardar</button>
          <a href="{% url 'main' %}"><button onclick="getElementById('guardar').value = 0"
              class="btn btn-success">Eliminar</button></a>
        </div>

      </div>
    </div>
    hola
  </form>
</div>
{% endblock %}